In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
driver_ids = pd.read_csv("driver_ids.csv")

In [3]:
ride_ids = pd.read_csv("ride_ids.csv")

In [4]:
ride_timestamps = pd.read_csv("ride_timestamps.csv")

In [5]:
driver_ids.head(5)

                          driver_id  driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00

In [7]:
ride_ids.head(5)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100

In [8]:
ride_timestamps.head()

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

In [9]:
df = ride_ids

In [10]:
# Calculating ride fare 
ride_fare = []
short_ride = []
long_ride = []
for index, row in ride_ids.iterrows():
    distance = row["ride_distance"]/(1609.344)
    duration = row["ride_duration"]/(60)
    fare = round((2 + 1.75 + 1.15*distance + 0.22*duration),2) 
    ride_fare.append(fare)
    if row["ride_distance"] <= 2456:
        short_ride.append(1)
        long_ride.append(0)
    elif row["ride_distance"] >= 7166:
        short_ride.append(0)
        long_ride.append(1)
    else:
        short_ride.append(0)
        long_ride.append(0)

In [11]:
df["ride_fare"] = ride_fare

In [12]:
df["short_ride"] = short_ride

In [13]:
df["long_ride"] = long_ride

In [14]:
df.head(10)

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_fare,short_ride,long_ride
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,6.24,1,0
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.12,0,0
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.19,0,0
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,62.64,0,1
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,9.71,0,0
5,002be0ffdc997bd5c50703158b7c2491,03d6b9d80b8a96135cb9b25178e9e203,4832,917,100,10.57,0,0
6,002be0ffdc997bd5c50703158b7c2491,04053c0ed21761e07f0b869cab5b7dd0,1575,347,0,6.15,1,0
7,002be0ffdc997bd5c50703158b7c2491,0534d432e0186625f623aaee57af98be,3056,687,25,8.45,0,0
8,002be0ffdc997bd5c50703158b7c2491,053a1621c0affcd2b9c517af5c2bc843,3940,1143,75,10.76,0,0
9,002be0ffdc997bd5c50703158b7c2491,066e92c52f59486de56cd7b8716a4ca6,3957,868,50,9.76,0,0

In [22]:
fare_per_driver = df.groupby("driver_id")["ride_fare"].sum()

In [23]:
fare_per_driver.head(10)

driver_id
002be0ffdc997bd5c50703158b7c2491    3093.52
007f0389f9c7b03ef97098422f902e62     275.38
011e5c5dfc5c2c92501b8b24d47509bc     427.29
0152a2f305e71d26cc964f8d4411add9    2407.49
01674381af7edd264113d4e6ed55ecda    4949.06
0213f8b59219e32142711992ca4ec01f    2674.24
021e5cd15ef0bb3ec20a12af99e142b3     567.86
0258e250ca195cc6258cbdc75aecd853    3880.57
028b5a4dcd7f4924ebfabcf2e814c014    4756.62
02d6a6b8a6da15fc219a9570f7ebbe78    1729.39
Name: ride_fare, dtype: float64

In [24]:
type(fare_per_driver)

pandas.core.series.Series

In [25]:
fare_df = fare_per_driver.to_frame()

In [26]:
fare_df.head()

                                  ride_fare
driver_id
002be0ffdc997bd5c50703158b7c2491    3093.52
007f0389f9c7b03ef97098422f902e62     275.38
011e5c5dfc5c2c92501b8b24d47509bc     427.29
0152a2f305e71d26cc964f8d4411add9    2407.49
01674381af7edd264113d4e6ed55ecda    4949.06

In [27]:
fare_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 937 entries, 002be0ffdc997bd5c50703158b7c2491 to ffff51a71f2f185ec5e97d59dbcd7a78
Data columns (total 1 columns):
ride_fare    937 non-null float64
dtypes: float64(1)
memory usage: 14.6+ KB

In [28]:
# Don't need this if you have 2 collumns in fare_df.info()
# I only have 1 collumn
fare_df['driver_id'] = fare_df.index

In [29]:
fare_df.head()

                                  ride_fare                         driver_id
driver_id
002be0ffdc997bd5c50703158b7c2491    3093.52  002be0ffdc997bd5c50703158b7c2491
007f0389f9c7b03ef97098422f902e62     275.38  007f0389f9c7b03ef97098422f902e62
011e5c5dfc5c2c92501b8b24d47509bc     427.29  011e5c5dfc5c2c92501b8b24d47509bc
0152a2f305e71d26cc964f8d4411add9    2407.49  0152a2f305e71d26cc964f8d4411add9
01674381af7edd264113d4e6ed55ecda    4949.06  01674381af7edd264113d4e6ed55ecda

In [30]:
fare_df.info()

# Now I have 2 collumns

<class 'pandas.core.frame.DataFrame'>
Index: 937 entries, 002be0ffdc997bd5c50703158b7c2491 to ffff51a71f2f185ec5e97d59dbcd7a78
Data columns (total 2 columns):
ride_fare    937 non-null float64
driver_id    937 non-null object
dtypes: float64(1), object(1)
memory usage: 22.0+ KB

In [31]:
# Adding sum of fare for each driver 
df2 = pd.merge(driver_ids, fare_df)

C:\Users\KHANH TM NGUYEN\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning: 'driver_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
df2.head()

                          driver_id  driver_onboard_date  ride_fare
0  002be0ffdc997bd5c50703158b7c2491  2016-03-29 00:00:00    3093.52
1  007f0389f9c7b03ef97098422f902e62  2016-03-29 00:00:00     275.38
2  011e5c5dfc5c2c92501b8b24d47509bc  2016-04-05 00:00:00     427.29
3  0152a2f305e71d26cc964f8d4411add9  2016-04-23 00:00:00    2407.49
4  01674381af7edd264113d4e6ed55ecda  2016-04-29 00:00:00    4949.06

In [33]:
short_ride_df = df.groupby("driver_id")["short_ride"].sum().to_frame()

In [34]:
short_ride_df.head()

                                  short_ride
driver_id
002be0ffdc997bd5c50703158b7c2491          72
007f0389f9c7b03ef97098422f902e62          10
011e5c5dfc5c2c92501b8b24d47509bc          11
0152a2f305e71d26cc964f8d4411add9          33
01674381af7edd264113d4e6ed55ecda          83

In [35]:
short_ride_df['driver_id'] = short_ride_df.index

In [36]:
long_ride_df = df.groupby("driver_id")["long_ride"].sum().to_frame()

In [37]:
long_ride_df['driver_id'] = long_ride_df.index

In [38]:
long_ride_df.head()

                                  long_ride                         driver_id
driver_id
002be0ffdc997bd5c50703158b7c2491         52  002be0ffdc997bd5c50703158b7c2491
007f0389f9c7b03ef97098422f902e62          2  007f0389f9c7b03ef97098422f902e62
011e5c5dfc5c2c92501b8b24d47509bc          7  011e5c5dfc5c2c92501b8b24d47509bc
0152a2f305e71d26cc964f8d4411add9         69  0152a2f305e71d26cc964f8d4411add9
01674381af7edd264113d4e6ed55ecda        125  01674381af7edd264113d4e6ed55ecda

In [39]:
# Adding short ride + long ride statistics 
df3 = pd.merge(pd.merge(df2, short_ride_df), long_ride_df)

C:\Users\KHANH TM NGUYEN\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning: 'driver_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
df3.head()

,driver_id,driver_onboard_date,ride_fare,short_ride,long_ride
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29 00:00:00,3093.52,72,52
1,007f0389f9c7b03ef97098422f902e62,2016-03-29 00:00:00,275.38,10,2
2,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05 00:00:00,427.29,11,7
3,0152a2f305e71d26cc964f8d4411add9,2016-04-23 00:00:00,2407.49,33,69
4,01674381af7edd264113d4e6ed55ecda,2016-04-29 00:00:00,4949.06,83,125

In [41]:
df3.describe()

          ride_fare  short_ride   long_ride
count    854.000000  854.000000  854.000000
mean    2581.210820   54.391101   54.375878
std     2096.378017   47.250416   45.806007
min       24.600000    1.000000    0.000000
25%      564.147500   11.000000   14.000000
50%     2557.935000   53.000000   49.000000
75%     3941.240000   84.000000   82.000000
max    10730.040000  252.000000  281.000000

In [43]:
# Look at the drivers making least and most revenue 
df3.sort_values("ride_fare").head()

,driver_id,driver_onboard_date,ride_fare,short_ride,long_ride
430,7b625f643d0775f0ac4898e33235377b,2016-04-04 00:00:00,24.60,1,0
447,7ff85c5c0e9324e28d1e0d0589c364bd,2016-04-19 00:00:00,34.87,1,1
841,fd831ca1d79ae5c6fc3a679a22e5b8cf,2016-05-07 00:00:00,171.80,3,1
713,d31eded9263eab43f614eecc6a52a0f5,2016-05-07 00:00:00,191.19,4,2
390,706466935b9e1d04e4e116be7ce90ea9,2016-04-01 00:00:00,208.61,3,3

In [44]:
df3.sort_values("ride_fare").tail()

,driver_id,driver_onboard_date,ride_fare,short_ride,long_ride
664,c07499b5a6f1090f2fb263ec6ac0660c,2016-04-01 00:00:00,8951.03,136,223
274,4eb382d1f7d50fae1294964263d1ce82,2016-04-06 00:00:00,9272.95,245,168
461,844e9be5a30d8d9c1f8e9ddb086ff717,2016-04-15 00:00:00,9354.44,200,197
189,3788dc9e91f1548816ce8b5af07ddadc,2016-04-26 00:00:00,10204.67,219,215
316,5ccc0e6dc9c7475caf785cdce7b8eb7a,2016-04-05 00:00:00,10730.04,231,249

In [45]:
# Sort according to onboarding date 
driver_ids.sort_values("driver_onboard_date").head()

                            driver_id  driver_onboard_date
432  72ca99bb6667024a23e1f68904b06fd0  2016-03-28 00:00:00
907  f86eb77e1cefe28e9f0e9d3775fae261  2016-03-28 00:00:00
107  1e9b964b3e3d0289794289579269247a  2016-03-28 00:00:00
895  f1b4411717c78f67380366c2a16a4d1e  2016-03-28 00:00:00
889  f0df79d10df44f18742682108b17f60a  2016-03-28 00:00:00

In [46]:
driver_ids.sort_values("driver_onboard_date").tail()

                            driver_id  driver_onboard_date
165  2e5d7b104b570a5cf450f6825880c9dc  2016-05-15 00:00:00
909  f98673773627b4b8d152e2b168b85bb2  2016-05-15 00:00:00
822  df9ab418e87b21319bdfe389a4552e08  2016-05-15 00:00:00
926  fdbee494c73577d5b1266d1fec5c6c9a  2016-05-15 00:00:00
142  28a396a3e1793b64046aaaf8345604ec  2016-05-15 00:00:00

In [ ]:
#for each unique driver -> 
#1. when was the last time he 'picked_up'?
#2. when was the first time he 'picked up'?
#3. when was the onboard data of this driver?

# Get names of indexes for which column Age has value 30

In [47]:
#first_picked_up = []
#last_picked_up = []
# ride_id =
#ride_timestamps_copy = []
ride_id_copy = []
timestamp_copy = []
for index, row in ride_timestamps.iterrows():
    if row["event"] == "picked_up_at":
        ride_id_copy.append(row["ride_id"])
        timestamp_copy.append(row["timestamp"])

In [48]:
ride_timestamps_copy = pd.DataFrame()
ride_timestamps_copy["ride_id"] = ride_id_copy
ride_timestamps_copy["timestamp"] = timestamp_copy

In [49]:
ride_timestamps_copy.head()

                            ride_id            timestamp
0  00003037a262d9ee40e61b5c0718f7f0  2016-06-13 09:44:33
1  00005eae40882760d675da5effb89ae3  2016-05-14 05:26:18
2  000061d42cf29f73b591041d9a1b2973  2016-05-16 15:47:32
3  00006efeb0d5e3ccad7d921ddeee9900  2016-05-11 19:35:15
4  0000d9b24d8ccdd991b76258e616fa01  2016-04-26 18:16:55

In [50]:
# Merge each ride id with its picked up time 
ride_id_timestamp = pd.merge(ride_ids, ride_timestamps_copy)

In [51]:
ride_id_timestamp.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_fare,short_ride,long_ride,timestamp
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,6.24,1,0,2016-04-23 02:16:40
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.12,0,0,2016-03-29 19:04:01
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.19,0,0,2016-06-21 12:01:35
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,62.64,0,1,2016-05-19 09:18:20
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,9.71,0,0,2016-04-20 22:07:02

In [52]:
ride_id_timestamp.info()

# Timestamp now is an object. We need to convert it to date object

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184819 entries, 0 to 184818
Data columns (total 9 columns):
driver_id          184819 non-null object
ride_id            184819 non-null object
ride_distance      184819 non-null int64
ride_duration      184819 non-null int64
ride_prime_time    184819 non-null int64
ride_fare          184819 non-null float64
short_ride         184819 non-null int64
long_ride          184819 non-null int64
timestamp          184819 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 14.1+ MB

In [53]:
ride_id_timestamp['timestamp'] =  pd.to_datetime(ride_id_timestamp['timestamp'], format='%Y-%m-%d %H:%M:%S')

In [54]:
ride_id_timestamp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184819 entries, 0 to 184818
Data columns (total 9 columns):
driver_id          184819 non-null object
ride_id            184819 non-null object
ride_distance      184819 non-null int64
ride_duration      184819 non-null int64
ride_prime_time    184819 non-null int64
ride_fare          184819 non-null float64
short_ride         184819 non-null int64
long_ride          184819 non-null int64
timestamp          184819 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 14.1+ MB

In [55]:
ride_id_timestamp.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_fare,short_ride,long_ride,timestamp
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,6.24,1,0,2016-04-23 02:16:40
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.12,0,0,2016-03-29 19:04:01
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.19,0,0,2016-06-21 12:01:35
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,62.64,0,1,2016-05-19 09:18:20
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,9.71,0,0,2016-04-20 22:07:02

In [56]:
ride_id_timestamp["new_date"] = [d.date() for d in ride_id_timestamp["timestamp"]]
ride_id_timestamp["new_time"] = [d.time() for d in ride_id_timestamp["timestamp"]]

In [57]:
ride_id_timestamp.head()

,driver_id,ride_id,ride_distance,ride_duration,ride_prime_time,ride_fare,short_ride,long_ride,timestamp,new_date,new_time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,50,6.24,1,0,2016-04-23 02:16:40,2016-04-23,02:16:40
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0,9.12,0,0,2016-03-29 19:04:01,2016-03-29,19:04:01
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0,8.19,0,0,2016-06-21 12:01:35,2016-06-21,12:01:35
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,25,62.64,0,1,2016-05-19 09:18:20,2016-05-19,09:18:20
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,100,9.71,0,0,2016-04-20 22:07:02,2016-04-20,22:07:02

In [58]:
first_ride = ride_id_timestamp.groupby("driver_id")["timestamp"].min()
last_ride = ride_id_timestamp.groupby("driver_id")["timestamp"].max()

In [59]:
first_ride.head()

driver_id
002be0ffdc997bd5c50703158b7c2491   2016-03-29 18:50:01
007f0389f9c7b03ef97098422f902e62   2016-03-29 22:33:44
011e5c5dfc5c2c92501b8b24d47509bc   2016-04-05 10:56:24
0152a2f305e71d26cc964f8d4411add9   2016-04-25 16:06:32
01674381af7edd264113d4e6ed55ecda   2016-04-29 07:55:52
Name: timestamp, dtype: datetime64[ns]

In [60]:
type(first_ride)

pandas.core.series.Series

In [61]:
last_ride.head()

driver_id
002be0ffdc997bd5c50703158b7c2491   2016-06-23 10:08:13
007f0389f9c7b03ef97098422f902e62   2016-06-22 13:20:22
011e5c5dfc5c2c92501b8b24d47509bc   2016-06-12 20:23:36
0152a2f305e71d26cc964f8d4411add9   2016-06-26 10:24:55
01674381af7edd264113d4e6ed55ecda   2016-06-24 13:07:43
Name: timestamp, dtype: datetime64[ns]

In [62]:
first_ride_df = first_ride.to_frame()
last_ride_df = last_ride.to_frame()

In [63]:
first_ride_df['driver_id'] = first_ride_df.index
last_ride_df['driver_id'] = last_ride_df.index

In [64]:
first_ride_df.rename(columns={'timestamp':'first_ride'}, inplace=True)
last_ride_df.rename(columns={'timestamp':'last_ride'}, inplace=True)

In [65]:
df4 = pd.merge(pd.merge(df3, first_ride_df), last_ride_df)

C:\Users\KHANH TM NGUYEN\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning: 'driver_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

In [66]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 836
Data columns (total 7 columns):
driver_id              837 non-null object
driver_onboard_date    837 non-null object
ride_fare              837 non-null float64
short_ride             837 non-null int64
long_ride              837 non-null int64
first_ride             837 non-null datetime64[ns]
last_ride              837 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 52.3+ KB

In [67]:
df4.head()

,driver_id,driver_onboard_date,ride_fare,short_ride,long_ride,first_ride,last_ride
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29 00:00:00,3093.52,72,52,2016-03-29 18:50:01,2016-06-23 10:08:13
1,007f0389f9c7b03ef97098422f902e62,2016-03-29 00:00:00,275.38,10,2,2016-03-29 22:33:44,2016-06-22 13:20:22
2,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05 00:00:00,427.29,11,7,2016-04-05 10:56:24,2016-06-12 20:23:36
3,0152a2f305e71d26cc964f8d4411add9,2016-04-23 00:00:00,2407.49,33,69,2016-04-25 16:06:32,2016-06-26 10:24:55
4,01674381af7edd264113d4e6ed55ecda,2016-04-29 00:00:00,4949.06,83,125,2016-04-29 07:55:52,2016-06-24 13:07:43

In [68]:
df4['driver_onboard_date'] =  pd.to_datetime(df4['driver_onboard_date'], format='%Y-%m-%d %H:%M:%S')

In [70]:
life_time_lst = []
set_up_time_lst = []
ltv_lst = []
for index, row in df4.iterrows():
    life_time = row["last_ride"].date()-row["first_ride"].date()
    set_up_time = row["first_ride"].date()-row["driver_onboard_date"].date()
    day = life_time.days
    ltv = round((row["ride_fare"]/day)*30,2)
    life_time_lst.append(life_time)
    set_up_time_lst.append(set_up_time)
    ltv_lst.append(ltv)

In [71]:
# Lifetime = Time last ride - Time first ride
life_time_lst

[datetime.timedelta(86),
 datetime.timedelta(85),
 datetime.timedelta(68),
 datetime.timedelta(62),
 datetime.timedelta(56),
 datetime.timedelta(30),
 datetime.timedelta(49),
 datetime.timedelta(61),
 datetime.timedelta(51),
 datetime.timedelta(51),
 datetime.timedelta(48),
 datetime.timedelta(75),
 datetime.timedelta(61),
 datetime.timedelta(53),
 datetime.timedelta(76),
 datetime.timedelta(73),
 datetime.timedelta(8),
 datetime.timedelta(30),
 datetime.timedelta(41),
 datetime.timedelta(66),
 datetime.timedelta(39),
 datetime.timedelta(79),
 datetime.timedelta(31),
 datetime.timedelta(57),
 datetime.timedelta(13),
 datetime.timedelta(67),
 datetime.timedelta(74),
 datetime.timedelta(36),
 datetime.timedelta(81),
 datetime.timedelta(27),
 datetime.timedelta(71),
 datetime.timedelta(67),
 datetime.timedelta(87),
 datetime.timedelta(33),
 datetime.timedelta(80),
 datetime.timedelta(28),
 datetime.timedelta(74),
 datetime.timedelta(87),
 datetime.timedelta(62),
 datetime.timedelta(43),
 datetime.timedelta(83),
 datetime.timedelta(54),
 datetime.timedelta(22),
 datetime.timedelta(82),
 datetime.timedelta(69),
 datetime.timedelta(76),
 datetime.timedelta(59),
 datetime.timedelta(21),
 datetime.timedelta(27),
 datetime.timedelta(7),
 datetime.timedelta(81),
 datetime.timedelta(81),
 datetime.timedelta(63),
 datetime.timedelta(17),
 datetime.timedelta(22),
 datetime.timedelta(24),
 datetime.timedelta(61),
 datetime.timedelta(36),
 datetime.timedelta(51),
 datetime.timedelta(79),
 datetime.timedelta(46),
 datetime.timedelta(27),
 datetime.timedelta(87),
 datetime.timedelta(48),
 datetime.timedelta(28),
 datetime.timedelta(54),
 datetime.timedelta(66),
 datetime.timedelta(32),
 datetime.timedelta(75),
 datetime.timedelta(17),
 datetime.timedelta(42),
 datetime.timedelta(3),
 datetime.timedelta(47),
 datetime.timedelta(63),
 datetime.timedelta(25),
 datetime.timedelta(66),
 datetime.timedelta(50),
 datetime.timedelta(83),
 datetime.timedelta(33),
 datetime.timedelta(70),
 datetime.timedelta(64),
 datetime.timedelta(63),
 datetime.timedelta(87),
 datetime.timedelta(66),
 datetime.timedelta(82),
 datetime.timedelta(83),
 datetime.timedelta(65),
 datetime.timedelta(75),
 datetime.timedelta(67),
 datetime.timedelta(43),
 datetime.timedelta(28),
 datetime.timedelta(55),
 datetime.timedelta(4),
 datetime.timedelta(43),
 datetime.timedelta(76),
 datetime.timedelta(64),
 datetime.timedelta(79),
 datetime.timedelta(61),
 datetime.timedelta(43),
 datetime.timedelta(28),
 datetime.timedelta(38),
 datetime.timedelta(74),
 datetime.timedelta(44),
 datetime.timedelta(41),
 datetime.timedelta(74),
 datetime.timedelta(45),
 datetime.timedelta(61),
 datetime.timedelta(49),
 datetime.timedelta(69),
 datetime.timedelta(61),
 datetime.timedelta(87),
 datetime.timedelta(86),
 datetime.timedelta(87),
 datetime.timedelta(64),
 datetime.timedelta(51),
 datetime.timedelta(80),
 datetime.timedelta(55),
 datetime.timedelta(82),
 datetime.timedelta(71),
 datetime.timedelta(68),
 datetime.timedelta(43),
 datetime.timedelta(55),
 datetime.timedelta(67),
 datetime.timedelta(87),
 datetime.timedelta(86),
 datetime.timedelta(80),
 datetime.timedelta(85),
 datetime.timedelta(9),
 datetime.timedelta(29),
 datetime.timedelta(46),
 datetime.timedelta(72),
 datetime.timedelta(50),
 datetime.timedelta(75),
 datetime.timedelta(72),
 datetime.timedelta(77),
 datetime.timedelta(78),
 datetime.timedelta(37),
 datetime.timedelta(79),
 datetime.timedelta(67),
 datetime.timedelta(8),
 datetime.timedelta(88),
 datetime.timedelta(18),
 datetime.timedelta(39),
 datetime.timedelta(56),
 datetime.timedelta(63),
 datetime.timedelta(87),
 datetime.timedelta(73),
 datetime.timedelta(82),
 datetime.timedelta(64),
 datetime.timedelta(78),
 datetime.timedelta(41),
 datetime.timedelta(63),
 datetime.timedelta(73),
 datetime.timedelta(80),
 datetime.timedelta(82),
 datetime.timedelta(61),
 datetime.timedelta(35),
 datetime.timedelta(78),
 datetime.timedelta(48),
 datetime.timedelta(13),
 datetime.timedelta(76),
 datetime.timedelta(4),
 datetime.timedelta(54),
 datetime.timedelta(37),
 datetime.timedelta(35),
 datetime.timedelta(86),
 datetime.timedelta(40),
 datetime.timedelta(8),
 datetime.timedelta(28),
 datetime.timedelta(28),
 datetime.timedelta(64),
 datetime.timedelta(46),
 datetime.timedelta(56),
 datetime.timedelta(70),
 datetime.timedelta(41),
 datetime.timedelta(82),
 datetime.timedelta(59),
 datetime.timedelta(55),
 datetime.timedelta(39),
 datetime.timedelta(68),
 datetime.timedelta(59),
 datetime.timedelta(70),
 datetime.timedelta(20),
 datetime.timedelta(70),
 datetime.timedelta(61),
 datetime.timedelta(84),
 datetime.timedelta(50),
 datetime.timedelta(70),
 datetime.timedelta(64),
 datetime.timedelta(71),
 datetime.timedelta(60),
 datetime.timedelta(40),
 datetime.timedelta(55),
 datetime.timedelta(56),
 datetime.timedelta(42),
 datetime.timedelta(88),
 datetime.timedelta(62),
 datetime.timedelta(5),
 datetime.timedelta(21),
 datetime.timedelta(86),
 datetime.timedelta(71),
 datetime.timedelta(34),
 datetime.timedelta(80),
 datetime.timedelta(73),
 datetime.timedelta(58),
 datetime.timedelta(82),
 datetime.timedelta(72),
 datetime.timedelta(73),
 datetime.timedelta(37),
 datetime.timedelta(34),
 datetime.timedelta(50),
 datetime.timedelta(45),
 datetime.timedelta(84),
 datetime.timedelta(82),
 datetime.timedelta(66),
 datetime.timedelta(88),
 datetime.timedelta(46),
 datetime.timedelta(29),
 datetime.timedelta(77),
 datetime.timedelta(56),
 datetime.timedelta(56),
 datetime.timedelta(4),
 datetime.timedelta(51),
 datetime.timedelta(22),
 datetime.timedelta(32),
 datetime.timedelta(53),
 datetime.timedelta(48),
 datetime.timedelta(74),
 datetime.timedelta(65),
 datetime.timedelta(77),
 datetime.timedelta(79),
 datetime.timedelta(47),
 datetime.timedelta(62),
 datetime.timedelta(81),
 datetime.timedelta(13),
 datetime.timedelta(29),
 datetime.timedelta(66),
 datetime.timedelta(19),
 datetime.timedelta(65),
 datetime.timedelta(33),
 datetime.timedelta(51),
 datetime.timedelta(60),
 datetime.timedelta(48),
 datetime.timedelta(61),
 datetime.timedelta(49),
 datetime.timedelta(40),
 datetime.timedelta(89),
 datetime.timedelta(75),
 datetime.timedelta(58),
 datetime.timedelta(52),
 datetime.timedelta(51),
 datetime.timedelta(66),
 datetime.timedelta(59),
 datetime.timedelta(23),
 datetime.timedelta(73),
 datetime.timedelta(37),
 datetime.timedelta(56),
 datetime.timedelta(39),
 datetime.timedelta(70),
 datetime.timedelta(60),
 datetime.timedelta(36),
 datetime.timedelta(53),
 datetime.timedelta(45),
 datetime.timedelta(71),
 datetime.timedelta(38),
 datetime.timedelta(20),
 datetime.timedelta(78),
 datetime.timedelta(76),
 datetime.timedelta(81),
 datetime.timedelta(52),
 datetime.timedelta(87),
 datetime.timedelta(74),
 datetime.timedelta(75),
 datetime.timedelta(73),
 datetime.timedelta(31),
 datetime.timedelta(51),
 datetime.timedelta(49),
 datetime.timedelta(30),
 datetime.timedelta(34),
 datetime.timedelta(82),
 datetime.timedelta(46),
 datetime.timedelta(70),
 datetime.timedelta(78),
 datetime.timedelta(33),
 datetime.timedelta(50),
 datetime.timedelta(47),
 datetime.timedelta(57),
 datetime.timedelta(28),
 datetime.timedelta(73),
 datetime.timedelta(46),
 datetime.timedelta(45),
 datetime.timedelta(45),
 datetime.timedelta(31),
 datetime.timedelta(31),
 datetime.timedelta(45),
 datetime.timedelta(70),
 datetime.timedelta(47),
 datetime.timedelta(59),
 datetime.timedelta(34),
 datetime.timedelta(84),
 datetime.timedelta(45),
 datetime.timedelta(64),
 datetime.timedelta(67),
 datetime.timedelta(38),
 datetime.timedelta(46),
 datetime.timedelta(66),
 datetime.timedelta(66),
 datetime.timedelta(66),
 datetime.timedelta(82),
 datetime.timedelta(75),
 datetime.timedelta(39),
 datetime.timedelta(69),
 datetime.timedelta(79),
 datetime.timedelta(74),
 datetime.timedelta(57),
 datetime.timedelta(17),
 datetime.timedelta(53),
 datetime.timedelta(61),
 datetime.timedelta(18),
 datetime.timedelta(78),
 datetime.timedelta(88),
 datetime.timedelta(28),
 datetime.timedelta(81),
 datetime.timedelta(74),
 datetime.timedelta(47),
 datetime.timedelta(56),
 datetime.timedelta(27),
 datetime.timedelta(46),
 datetime.timedelta(45),
 datetime.timedelta(53),
 datetime.timedelta(89),
 datetime.timedelta(83),
 datetime.timedelta(80),
 datetime.timedelta(66),
 datetime.timedelta(65),
 datetime.timedelta(44),
 datetime.timedelta(48),
 datetime.timedelta(49),
 datetime.timedelta(81),
 datetime.timedelta(43),
 datetime.timedelta(55),
 datetime.timedelta(47),
 datetime.timedelta(81),
 datetime.timedelta(76),
 datetime.timedelta(42),
 datetime.timedelta(53),
 datetime.timedelta(35),
 datetime.timedelta(52),
 datetime.timedelta(84),
 datetime.timedelta(80),
 datetime.timedelta(1),
 datetime.timedelta(53),
 datetime.timedelta(42),
 datetime.timedelta(65),
 datetime.timedelta(71),
 datetime.timedelta(53),
 datetime.timedelta(32),
 datetime.timedelta(44),
 datetime.timedelta(61),
 datetime.timedelta(49),
 datetime.timedelta(39),
 datetime.timedelta(45),
 datetime.timedelta(49),
 datetime.timedelta(83),
 datetime.timedelta(73),
 datetime.timedelta(19),
 datetime.timedelta(88),
 datetime.timedelta(29),
 datetime.timedelta(7),
 datetime.timedelta(32),
 datetime.timedelta(55),
 datetime.timedelta(35),
 datetime.timedelta(88),
 datetime.timedelta(1),
 datetime.timedelta(70),
 datetime.timedelta(87),
 datetime.timedelta(6),
 datetime.timedelta(67),
 datetime.timedelta(56),
 datetime.timedelta(44),
 datetime.timedelta(85),
 datetime.timedelta(33),
 datetime.timedelta(43),
 datetime.timedelta(59),
 datetime.timedelta(69),
 datetime.timedelta(80),
 datetime.timedelta(57),
 datetime.timedelta(90),
 datetime.timedelta(57),
 datetime.timedelta(69),
 datetime.timedelta(56),
 datetime.timedelta(38),
 datetime.timedelta(78),
 datetime.timedelta(25),
 datetime.timedelta(75),
 datetime.timedelta(51),
 datetime.timedelta(44),
 datetime.timedelta(25),
 datetime.timedelta(87),
 datetime.timedelta(55),
 datetime.timedelta(53),
 datetime.timedelta(90),
 datetime.timedelta(70),
 datetime.timedelta(25),
 datetime.timedelta(52),
 datetime.timedelta(63),
 datetime.timedelta(44),
 datetime.timedelta(43),
 datetime.timedelta(28),
 datetime.timedelta(44),
 datetime.timedelta(57),
 datetime.timedelta(60),
 datetime.timedelta(27),
 datetime.timedelta(67),
 datetime.timedelta(46),
 datetime.timedelta(42),
 datetime.timedelta(40),
 datetime.timedelta(59),
 datetime.timedelta(35),
 datetime.timedelta(57),
 datetime.timedelta(31),
 datetime.timedelta(15),
 datetime.timedelta(67),
 datetime.timedelta(52),
 datetime.timedelta(37),
 datetime.timedelta(79),
 datetime.timedelta(23),
 datetime.timedelta(46),
 datetime.timedelta(60),
 datetime.timedelta(79),
 datetime.timedelta(12),
 datetime.timedelta(43),
 datetime.timedelta(80),
 datetime.timedelta(56),
 datetime.timedelta(78),
 datetime.timedelta(41),
 datetime.timedelta(49),
 datetime.timedelta(62),
 datetime.timedelta(56),
 datetime.timedelta(44),
 datetime.timedelta(43),
 datetime.timedelta(80),
 datetime.timedelta(58),
 datetime.timedelta(47),
 datetime.timedelta(68),
 datetime.timedelta(76),
 datetime.timedelta(70),
 datetime.timedelta(8),
 datetime.timedelta(19),
 datetime.timedelta(13),
 datetime.timedelta(64),
 datetime.timedelta(72),
 datetime.timedelta(26),
 datetime.timedelta(11),
 datetime.timedelta(66),
 datetime.timedelta(45),
 datetime.timedelta(48),
 datetime.timedelta(58),
 datetime.timedelta(54),
 datetime.timedelta(71),
 datetime.timedelta(70),
 datetime.timedelta(16),
 datetime.timedelta(28),
 datetime.timedelta(21),
 datetime.timedelta(15),
 datetime.timedelta(57),
 datetime.timedelta(44),
 datetime.timedelta(7),
 datetime.timedelta(57),
 datetime.timedelta(80),
 datetime.timedelta(65),
 datetime.timedelta(84),
 datetime.timedelta(40),
 datetime.timedelta(74),
 datetime.timedelta(72),
 datetime.timedelta(63),
 datetime.timedelta(86),
 datetime.timedelta(88),
 datetime.timedelta(33),
 datetime.timedelta(65),
 datetime.timedelta(62),
 datetime.timedelta(53),
 datetime.timedelta(69),
 datetime.timedelta(41),
 datetime.timedelta(70),
 datetime.timedelta(70),
 datetime.timedelta(89),
 datetime.timedelta(64),
 datetime.timedelta(27),
 datetime.timedelta(79),
 datetime.timedelta(62),
 datetime.timedelta(82),
 datetime.timedelta(36),
 datetime.timedelta(24),
 datetime.timedelta(30),
 datetime.timedelta(53),
 datetime.timedelta(32),
 datetime.timedelta(88),
 datetime.timedelta(72),
 datetime.timedelta(78),
 datetime.timedelta(50),
 datetime.timedelta(73),
 datetime.timedelta(67),
 datetime.timedelta(57),
 datetime.timedelta(69),
 datetime.timedelta(43),
 datetime.timedelta(77),
 datetime.timedelta(85),
 datetime.timedelta(49),
 datetime.timedelta(51),
 datetime.timedelta(65),
 datetime.timedelta(21),
 datetime.timedelta(55),
 datetime.timedelta(72),
 datetime.timedelta(8),
 datetime.timedelta(51),
 datetime.timedelta(63),
 datetime.timedelta(70),
 datetime.timedelta(35),
 datetime.timedelta(64),
 datetime.timedelta(60),
 datetime.timedelta(69),
 datetime.timedelta(23),
 datetime.timedelta(46),
 datetime.timedelta(56),
 datetime.timedelta(26),
 datetime.timedelta(71),
 datetime.timedelta(18),
 datetime.timedelta(67),
 datetime.timedelta(87),
 datetime.timedelta(86),
 datetime.timedelta(82),
 datetime.timedelta(67),
 datetime.timedelta(66),
 datetime.timedelta(74),
 datetime.timedelta(60),
 datetime.timedelta(57),
 datetime.timedelta(43),
 datetime.timedelta(26),
 datetime.timedelta(77),
 datetime.timedelta(78),
 datetime.timedelta(82),
 datetime.timedelta(76),
 datetime.timedelta(58),
 datetime.timedelta(6),
 datetime.timedelta(39),
 datetime.timedelta(87),
 datetime.timedelta(52),
 datetime.timedelta(71),
 datetime.timedelta(82),
 datetime.timedelta(2),
 datetime.timedelta(44),
 datetime.timedelta(45),
 datetime.timedelta(73),
 datetime.timedelta(59),
 datetime.timedelta(88),
 datetime.timedelta(16),
 datetime.timedelta(50),
 datetime.timedelta(65),
 datetime.timedelta(65),
 datetime.timedelta(84),
 datetime.timedelta(64),
 datetime.timedelta(85),
 datetime.timedelta(51),
 datetime.timedelta(59),
 datetime.timedelta(47),
 datetime.timedelta(43),
 datetime.timedelta(76),
 datetime.timedelta(56),
 datetime.timedelta(71),
 datetime.timedelta(28),
 datetime.timedelta(66),
 datetime.timedelta(30),
 datetime.timedelta(86),
 datetime.timedelta(59),
 datetime.timedelta(60),
 datetime.timedelta(37),
 datetime.timedelta(58),
 datetime.timedelta(53),
 datetime.timedelta(79),
 datetime.timedelta(44),
 datetime.timedelta(45),
 datetime.timedelta(55),
 datetime.timedelta(32),
 datetime.timedelta(40),
 datetime.timedelta(35),
 datetime.timedelta(67),
 datetime.timedelta(26),
 datetime.timedelta(46),
 datetime.timedelta(52),
 datetime.timedelta(4),
 datetime.timedelta(10),
 datetime.timedelta(66),
 datetime.timedelta(13),
 datetime.timedelta(67),
 datetime.timedelta(65),
 datetime.timedelta(12),
 datetime.timedelta(72),
 datetime.timedelta(46),
 datetime.timedelta(50),
 datetime.timedelta(29),
 datetime.timedelta(45),
 datetime.timedelta(44),
 datetime.timedelta(44),
 datetime.timedelta(41),
 datetime.timedelta(42),
 datetime.timedelta(44),
 datetime.timedelta(32),
 datetime.timedelta(61),
 datetime.timedelta(82),
 datetime.timedelta(35),
 datetime.timedelta(53),
 datetime.timedelta(66),
 datetime.timedelta(63),
 datetime.timedelta(65),
 datetime.timedelta(77),
 datetime.timedelta(72),
 datetime.timedelta(44),
 datetime.timedelta(54),
 datetime.timedelta(60),
 datetime.timedelta(58),
 datetime.timedelta(88),
 datetime.timedelta(52),
 datetime.timedelta(67),
 datetime.timedelta(4),
 datetime.timedelta(75),
 datetime.timedelta(70),
 datetime.timedelta(49),
 datetime.timedelta(15),
 datetime.timedelta(45),
 datetime.timedelta(66),
 datetime.timedelta(42),
 datetime.timedelta(62),
 datetime.timedelta(44),
 datetime.timedelta(58),
 datetime.timedelta(63),
 datetime.timedelta(1),
 datetime.timedelta(80),
 datetime.timedelta(12),
 datetime.timedelta(72),
 datetime.timedelta(82),
 datetime.timedelta(50),
 datetime.timedelta(86),
 datetime.timedelta(26),
 datetime.timedelta(21),
 datetime.timedelta(22),
 datetime.timedelta(48),
 datetime.timedelta(36),
 datetime.timedelta(14),
 datetime.timedelta(70),
 datetime.timedelta(70),
 datetime.timedelta(86),
 datetime.timedelta(88),
 datetime.timedelta(54),
 datetime.timedelta(89),
 datetime.timedelta(45),
 datetime.timedelta(79),
 datetime.timedelta(86),
 datetime.timedelta(57),
 datetime.timedelta(45),
 datetime.timedelta(75),
 datetime.timedelta(64),
 datetime.timedelta(12),
 datetime.timedelta(73),
 datetime.timedelta(67),
 datetime.timedelta(64),
 datetime.timedelta(82),
 datetime.timedelta(73),
 datetime.timedelta(77),
 datetime.timedelta(51),
 datetime.timedelta(66),
 datetime.timedelta(46),
 datetime.timedelta(66),
 datetime.timedelta(73),
 datetime.timedelta(45),
 datetime.timedelta(77),
 datetime.timedelta(73),
 datetime.timedelta(11),
 datetime.timedelta(51),
 datetime.timedelta(16),
 datetime.timedelta(79),
 datetime.timedelta(43),
 datetime.timedelta(73),
 datetime.timedelta(80),
 datetime.timedelta(10),
 datetime.timedelta(16),
 datetime.timedelta(67),
 datetime.timedelta(79),
 datetime.timedelta(56),
 datetime.timedelta(74),
 datetime.timedelta(27),
 datetime.timedelta(52),
 datetime.timedelta(88),
 datetime.timedelta(20),
 datetime.timedelta(39),
 datetime.timedelta(68),
 datetime.timedelta(79),
 datetime.timedelta(23),
 datetime.timedelta(82),
 datetime.timedelta(48),
 datetime.timedelta(73),
 datetime.timedelta(67),
 datetime.timedelta(88),
 datetime.timedelta(76),
 datetime.timedelta(83),
 datetime.timedelta(78),
 datetime.timedelta(76),
 datetime.timedelta(52),
 datetime.timedelta(8),
 datetime.timedelta(57),
 datetime.timedelta(11),
 datetime.timedelta(74),
 datetime.timedelta(14),
 datetime.timedelta(29),
 datetime.timedelta(78),
 datetime.timedelta(43),
 datetime.timedelta(56),
 datetime.timedelta(55),
 datetime.timedelta(5),
 datetime.timedelta(50),
 datetime.timedelta(52),
 datetime.timedelta(70),
 datetime.timedelta(47),
 datetime.timedelta(80),
 datetime.timedelta(86),
 datetime.timedelta(73),
 datetime.timedelta(15),
 datetime.timedelta(15),
 datetime.timedelta(78),
 datetime.timedelta(45),
 datetime.timedelta(47),
 datetime.timedelta(15),
 datetime.timedelta(46),
 datetime.timedelta(70),
 datetime.timedelta(81),
 datetime.timedelta(70),
 datetime.timedelta(14),
 datetime.timedelta(42),
 datetime.timedelta(56),
 datetime.timedelta(66),
 datetime.timedelta(69),
 datetime.timedelta(25),
 datetime.timedelta(66),
 datetime.timedelta(21),
 datetime.timedelta(83),
 datetime.timedelta(82),
 datetime.timedelta(87),
 datetime.timedelta(48),
 datetime.timedelta(65),
 datetime.timedelta(53),
 datetime.timedelta(17),
 datetime.timedelta(61),
 datetime.timedelta(53),
 datetime.timedelta(46),
 datetime.timedelta(66),
 datetime.timedelta(74),
 datetime.timedelta(85),
 datetime.timedelta(63),
 datetime.timedelta(29),
 datetime.timedelta(14),
 datetime.timedelta(62),
 datetime.timedelta(63),
 datetime.timedelta(3),
 datetime.timedelta(47),
 datetime.timedelta(19),
 datetime.timedelta(45),
 datetime.timedelta(56),
 datetime.timedelta(50),
 datetime.timedelta(14),
 datetime.timedelta(68),
 datetime.timedelta(49),
 datetime.timedelta(85),
 datetime.timedelta(56),
 datetime.timedelta(45),
 datetime.timedelta(73),
 datetime.timedelta(70),
 datetime.timedelta(64),
 datetime.timedelta(58),
 datetime.timedelta(49),
 datetime.timedelta(61),
 datetime.timedelta(30),
 datetime.timedelta(72),
 datetime.timedelta(71),
 datetime.timedelta(37),
 datetime.timedelta(81),
 datetime.timedelta(87),
 datetime.timedelta(59),
 datetime.timedelta(65),
 datetime.timedelta(78),
 datetime.timedelta(79),
 datetime.timedelta(51),
 datetime.timedelta(61),
 datetime.timedelta(66),
 datetime.timedelta(12),
 datetime.timedelta(88),
 datetime.timedelta(55),
 datetime.timedelta(75),
 datetime.timedelta(71),
 datetime.timedelta(54),
 datetime.timedelta(24),
 datetime.timedelta(30),

In [72]:
# Set up time = Time first ride - Onboarding time 
set_up_time_lst

[datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(2),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(2),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(5),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(7),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(5),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(5),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(5),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(8),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(14),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(2),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(10),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(8),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(5),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(4),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(3),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(4),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(24),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(1),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(17),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(7),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(6),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),
 datetime.timedelta(0),

In [73]:
# Lifetive value per month = (Total fare/Lifetime (by day))*30 days
ltv_lst

[1079.13,
 97.19,
 188.51,
 1164.91,
 2651.28,
 2674.24,
 347.67,
 1908.48,
 2798.01,
 1017.29,
 449.33,
 1054.27,
 211.25,
 2329.65,
 1023.46,
 1720.78,
 1776.04,
 749.63,
 2951.39,
 291.32,
 356.55,
 1514.85,
 601.21,
 2099.19,
 1043.95,
 1998.35,
 1294.3,
 178.44,
 718.81,
 396.66,
 2885.18,
 2914.95,
 124.51,
 428.68,
 1818.85,
 424.8,
 1796.08,
 1265.69,
 1352.55,
 309.83,
 1362.03,
 1961.42,
 609.72,
 205.23,
 2552.25,
 2163.76,
 2487.05,
 639.74,
 724.17,
 1225.5,
 210.22,
 2101.97,
 3799.7,
 880.43,
 735.85,
 598.86,
 2742.36,
 500.22,
 1397.88,
 95.53,
 189.29,
 496.17,
 1692.17,
 383.4,
 842.37,
 2222.45,
 2145.65,
 796.52,
 3173.29,
 668.22,
 520.24,
 2277.6,
 1953.1,
 231.14,
 828.31,
 1186.61,
 365.73,
 1752.96,
 638.71,
 1762.38,
 2095.77,
 155.78,
 1541.98,
 1354.92,
 2747.63,
 1599.14,
 2069.01,
 967.93,
 3005.07,
 426.99,
 502.23,
 2857.46,
 2144.32,
 299.79,
 1761.68,
 1563.72,
 1736.61,
 3049.54,
 1750.82,
 349.31,
 237.79,
 1198.53,
 318.76,
 385.7,
 1921.14,
 3923.51,
 2131.19,
 373.27,
 284.17,
 1424.36,
 2437.31,
 902.71,
 1019.75,
 1185.15,
 3098.85,
 1109.1,
 1502.99,
 1041.07,
 272.59,
 2286.41,
 3422.02,
 293.09,
 2706.16,
 2749.79,
 2107.6,
 1394.1,
 1508.77,
 1866.37,
 832.03,
 191.97,
 1868.06,
 4618.58,
 292.1,
 1989.74,
 1595.2,
 1060.13,
 436.72,
 2150.9,
 1761.26,
 2277.98,
 1078.06,
 792.32,
 337.77,
 1531.55,
 222.11,
 762.26,
 2217.83,
 2109.23,
 1788.02,
 2761.17,
 320.27,
 151.68,
 143.62,
 1185.49,
 1019.83,
 124.71,
 296.07,
 894.57,
 338.01,
 1489.55,
 126.17,
 3611.62,
 326.65,
 423.55,
 234.99,
 1922.99,
 2074.86,
 1289.21,
 804.26,
 418.83,
 1721.9,
 1318.93,
 309.89,
 2669.2,
 421.82,
 162.01,
 195.86,
 1534.48,
 352.48,
 2141.67,
 1595.37,
 744.27,
 983.46,
 141.64,
 5018.69,
 918.5,
 270.1,
 2103.04,
 1105.97,
 870.79,
 2943.38,
 2232.11,
 2874.53,
 2018.18,
 2830.46,
 2669.65,
 1889.53,
 1770.48,
 1332.89,
 1296.82,
 918.47,
 373.21,
 1652.41,
 1954.49,
 1510.02,
 1330.81,
 1142.49,
 264.94,
 199.96,
 3097.57,
 1544.84,
 2239.72,
 704.63,
 1313.19,
 960.3,
 2109.59,
 2569.83,
 1007.76,
 1448.36,
 1368.4,
 3415.08,
 3323.62,
 1148.86,
 595.98,
 1162.74,
 1448.68,
 1261.08,
 3049.94,
 2015.29,
 1194.88,
 964.3,
 1187.57,
 366.0,
 1326.4,
 1043.24,
 2857.79,
 3553.73,
 597.79,
 2216.67,
 330.05,
 1348.9,
 161.62,
 2113.43,
 1818.55,
 1575.61,
 500.89,
 2133.49,
 956.88,
 2424.49,
 390.72,
 1474.41,
 1193.89,
 1352.91,
 597.37,
 1136.35,
 546.09,
 390.96,
 225.43,
 949.89,
 1718.62,
 2692.95,
 1158.23,
 1940.21,
 212.0,
 298.45,
 903.64,
 1332.12,
 2835.76,
 3434.43,
 180.12,
 1222.12,
 1351.01,
 1577.84,
 1053.24,
 338.19,
 2284.67,
 2903.64,
 2567.79,
 443.15,
 2245.62,
 1595.1,
 412.24,
 1362.85,
 466.45,
 307.71,
 4927.1,
 1799.93,
 434.8,
 1427.7,
 2748.93,
 593.56,
 300.89,
 470.69,
 544.51,
 425.79,
 2027.17,
 260.51,
 1590.81,
 575.21,
 2383.97,
 325.36,
 1472.44,
 2755.64,
 2425.51,
 2011.72,
 1060.02,
 271.25,
 1669.26,
 3925.62,
 1749.46,
 275.45,
 1307.24,
 1219.06,
 1321.95,
 383.79,
 602.38,
 3046.85,
 2272.01,
 596.37,
 1168.77,
 1785.49,
 749.9,
 1677.73,
 1494.57,
 2451.73,
 3648.44,
 2776.68,
 1202.63,
 2699.45,
 1899.36,
 1431.73,
 1542.2,
 257.58,
 2043.35,
 180.68,
 2945.88,
 3917.28,
 1630.66,
 680.56,
 1937.38,
 2288.75,
 2202.02,
 1518.99,
 1007.74,
 1641.91,
 2503.3,
 349.73,
 2709.91,
 3066.99,
 1182.68,
 7242.3,
 4003.48,
 324.47,
 1354.77,
 1908.15,
 1447.09,
 2352.2,
 617.94,
 1734.67,
 5287.49,
 460.1,
 320.55,
 2310.01,
 1015.05,
 2495.89,
 1273.77,
 1704.29,
 346.39,
 1691.36,
 353.46,
 404.81,
 189.05,
 548.68,
 12347.7,
 192.91,
 1927.59,
 2524.3,
 1764.86,
 307.55,
 2358.9,
 973.86,
 5276.26,
 145.54,
 1705.05,
 1228.41,
 1188.38,
 1631.19,
 1659.15,
 2137.81,
 1279.1,
 542.33,
 312.77,
 126.22,
 448.66,
 1464.4,
 3316.04,
 2968.8,
 500.17,
 1126.98,
 1413.19,
 2412.24,
 1512.5,
 1037.99,
 534.7,
 1312.05,
 1136.86,
 1932.7,
 2978.92,
 278.88,
 2215.13,
 2410.65,
 2553.69,
 955.63,
 1567.57,
 2138.46,
 2096.41,
 292.75,
 1386.42,
 2220.81,
 1317.88,
 446.18,
 49.2,
 1300.03,
 1392.95,
 554.59,
 2890.22,
 1502.97,
 1852.01,
 1693.38,
 836.11,
 1256.62,
 2194.9,
 761.3,
 1232.53,
 136.7,
 423.79,
 2562.14,
 1092.25,
 18.68,
 3211.62,
 3356.65,
 989.18,
 331.43,
 233.5,
 1202.02,
 1039.42,
 1943.86,
 1667.51,
 541.41,
 1110.69,
 1617.61,
 3897.68,
 785.61,
 1103.18,
 305.21,
 2881.55,
 2943.44,
 3883.94,
 400.42,
 174.33,
 1424.83,
 959.7,
 701.05,
 482.53,
 650.32,
 422.15,
 2095.72,
 3386.27,
 4043.66,
 331.75,
 1469.32,
 1631.09,
 369.88,
 1177.17,
 396.67,
 226.62,
 1686.56,
 1269.49,
 230.95,
 135.14,
 347.64,
 1434.56,
 1475.53,
 477.92,
 286.36,
 1810.61,
 871.22,
 821.12,
 567.66,
 350.83,
 2402.59,
 1073.93,
 376.72,
 575.68,
 448.55,
 4213.52,
 681.28,
 1217.02,
 1259.57,
 1564.43,
 458.41,
 2631.81,
 1382.86,
 371.95,
 807.7,
 554.07,
 2159.78,
 827.73,
 1693.95,
 1753.44,
 1357.04,
 468.31,
 1158.95,
 1681.69,
 2509.43,
 1898.09,
 1645.53,
 172.29,
 688.2,
 1694.67,
 1576.88,
 1512.0,
 735.77,
 287.85,
 1522.56,
 459.13,
 896.91,
 827.95,
 1618.37,
 951.09,
 1100.94,
 1088.47,
 1783.02,
 1368.34,
 217.39,
 1832.15,
 161.02,
 297.85,
 948.36,
 355.93,
 2152.51,
 1900.09,
 1159.71,
 2276.7,
 2020.0,
 322.18,
 1367.01,
 1887.76,
 127.47,
 407.63,
 3838.65,
 3789.55,
 1658.26,
 925.92,
 2051.2,
 890.63,
 544.24,
 1953.61,
 3496.68,
 1227.5,
 1514.34,
 2299.27,
 1236.76,
 213.74,
 2534.53,
 340.05,
 2322.12,
 1405.5,
 1276.51,
 1143.55,
 437.89,
 2510.93,
 731.35,
 2194.43,
 1879.16,
 249.0,
 496.48,
 1953.35,
 3013.07,
 2529.69,
 2086.61,
 294.62,
 4449.91,
 491.43,
 524.12,
 419.91,
 1778.57,
 1216.21,
 1411.72,
 1482.94,
 4486.05,
 1839.69,
 1342.4,
 866.01,
 2061.59,
 4037.6,
 812.63,
 324.64,
 3906.9,
 3797.99,
 474.0,
 3372.18,
 2068.18,
 1702.28,
 309.02,
 3374.25,
 367.55,
 672.62,
 2123.45,
 2039.81,
 350.08,
 3639.84,
 267.15,
 1676.24,
 1658.48,
 192.59,
 2052.28,
 1500.57,
 3481.64,
 1730.53,
 3373.84,
 1691.62,
 3185.05,
 2421.04,
 2786.78,
 1107.71,
 142.15,
 346.33,
 1012.56,
 3169.42,
 2119.84,
 475.67,
 1472.54,
 269.68,
 350.76,
 1268.54,
 7662.0,
 988.63,
 783.27,
 1281.57,
 1807.87,
 203.86,
 809.71,
 697.05,
 596.09,
 694.17,
 404.59,
 607.44,
 769.35,
 1356.21,
 2205.18,
 3122.45,
 2794.04,
 1693.13,
 1867.15,
 3141.25,
 866.7,
 1418.61,
 387.55,
 1421.77,
 1071.9,
 304.98,
 1096.0,
 203.0,
 1693.87,
 1050.18,
 2307.03,
 2361.73,
 986.36,
 2306.48,
 1738.77,
 663.57,
 532.34,
 975.54,
 1349.54,
 161.15,
 2121.62,
 1645.61,
 239.88,
 900.08,
 2510.35,
 190.42,
 1535.62,
 2248.74,
 1567.53,
 901.39,
 187.72,
 2744.83,
 1929.32,
 1285.89,
 407.96,
 3038.96,
 2252.28,
 424.8,
 507.04,
 1254.94,
 241.21,
 694.49,
 1011.87,
 119.49,
 839.8,
 1562.14,
 1117.11,
 1147.01,
 1721.42,
 930.0,
 2537.66,
 1973.47,
 1887.49,
 1491.6,
 1284.52,
 1057.07,
 551.51,
 590.63,
 2082.35,
 697.3,
 573.99,
 124.25,
 2975.28,
 345.88,
 157.45,
 348.95,
 3627.77,
 1376.52,
 1367.11,
 1852.18,
 854.04,
 1264.62,
 1190.29,
 2069.28,
 373.95,
 781.06,
 2509.85,
 1268.9,
 1112.29,
 1727.62,
 859.29,
 3365.88,
 331.27,
 1288.31,
 241.65,
 594.2,
 1134.27,
 988.64,
 2159.41,
 1026.71,
 1402.69,
 305.62,
 1257.97,
 1598.8,
 1027.15,
 1849.46,
 152.99,
 2797.73,
 366.26,
 176.68,
 947.95,
 158.0,
 474.32,
 779.04,
 2416.16,
 1037.26,
 2794.9,
 1969.21,
 853.25,
 3919.01,
 256.79,
 338.59,
 670.37,
 1377.63,
 3462.09,
 1091.7,
 1105.2,
 1791.02,
 1005.97,
 1024.2,
 1286.89,
 424.49,
 2271.59,
 2291.89,
 868.13,
 946.11,
 402.97,
 261.96,
 2585.3,
 1052.68,
 2119.34,
 1286.57,
 1534.84,
 1770.24,
 2252.88,
 2710.76,
 3070.1,
 1454.02,
 126.85,
 259.81,
 1542.85,
 1518.71,
 3342.12,
 505.11,
 506.63,
 1785.95,
 323.57,
 440.1,
 2875.17,
 1681.63,
 834.49,
 190.97,
 349.04,
 2505.68,
 212.03,
 288.96,
 452.02,
 2169.7,
 423.4,
 621.35,
 785.69,
 1849.73,
 591.91,
 458.59,
 1491.1,
 1269.12,
 1456.97,
 1487.31,
 322.12,
 1293.15,
 640.78,
 2200.38,
 2082.37,
 1666.44,
 1329.2,
 471.73,
 1594.2,
 2024.75,
 315.34,
 2888.54,
 2176.41]

In [77]:
df4["lifetime"] = life_time_lst
df4["set_up_time"] = set_up_time_lst
df4["lifetime_value_per_month"] = ltv_lst

In [78]:
df4.head()

,driver_id,driver_onboard_date,ride_fare,short_ride,long_ride,first_ride,last_ride,lifetime,set_up_time,lifetime_value,lifetime_value_per_month
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,3093.52,72,52,2016-03-29 18:50:01,2016-06-23 10:08:13,86 days,0 days,1079.13,1079.13
1,007f0389f9c7b03ef97098422f902e62,2016-03-29,275.38,10,2,2016-03-29 22:33:44,2016-06-22 13:20:22,85 days,0 days,97.19,97.19
2,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,427.29,11,7,2016-04-05 10:56:24,2016-06-12 20:23:36,68 days,0 days,188.51,188.51
3,0152a2f305e71d26cc964f8d4411add9,2016-04-23,2407.49,33,69,2016-04-25 16:06:32,2016-06-26 10:24:55,62 days,2 days,1164.91,1164.91
4,01674381af7edd264113d4e6ed55ecda,2016-04-29,4949.06,83,125,2016-04-29 07:55:52,2016-06-24 13:07:43,56 days,0 days,2651.28,2651.28